.button {
  display: flex;
  align-items: center;
  gap: 0px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: rgba(149, 1, 1, 1);
  font-weight: bolder;
}

.icon {
  font-size: 20px;
  color: rgba(149, 1, 1, 1);
  font-family: FiraGO;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-wrap: wrap;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 10px;
}

.icon img {
  transition: transform 0.5s ease-in-out; /* Smooth animation */
  transform-origin: left center; /* Set the pivot point to the left */
}

.icon:hover img {
  transform: perspective(500px) rotateY(50deg); /* Create the door-opening effect */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 220px;
  background: #8b0000; /* Deep red background */
  border: 2px solid #001f54; /* Dark blue border */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
  font-family: "FiraGO", sans-serif;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background: transparent;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dropdown-item:hover {
  background: #001f54; /* Dark blue background on hover */
  color: #fdf2db; /* Light beige text */
  transform: scale(1.05); /* Slight zoom effect */
  border-radius: 5px;
}

.dropdown-divider {
  height: 1px;
  background-color: #fdf2db; /* Light beige divider */
  margin: 5px 0;
}

.dropdown-label {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #fdf2db; /* Light beige text */
  background: #001f54; /* Dark blue background */
  border-bottom: 2px solid #8b0000; /* Deep red border */
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-top: 2px solid #012645;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    position: static;
    transform: translateY(-50%);
  }
  .icon {
    z-index: 0;
  }
}
