.button {
  display: flex;
  align-items: center;
  gap: 0px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: #e0d849;
  font-weight: bolder;
}

.icon {
  font-size: 20px;
  color: rgba(149, 1, 1, 1);
  font-family: FiraGO;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-wrap: wrap;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 10px;
}

.icon img {
  transition: transform 0.5s ease-in-out; /* Smooth animation */
  transform-origin: left center; /* Set the pivot point to the left */
}

.icon:hover img {
  transform: perspective(500px) rotateY(50deg); /* Create the door-opening effect */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  z-index: 999;
}

.dropdown-item {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  background: #012645;
  border-radius: 5px;
  color: white;
  margin-left: 5%;
}

.dropdown-item:hover {
  background: #093d67;
}

.dropdown-label {
  padding: 8px 16px;
  font-weight: bold;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-top: 2px solid #012645;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    position: static;
    transform: translateY(-50%);
  }
  .icon {
    z-index: 0;
  }
}
