.space-x-2 {
  display: flex;
  gap: 5px;
}
.space-x-2 button {
  color: green;
    border: none;
    background: transparent;
}

.trash{
  color: red;
}
.edit {
  color: blue;
}
.approve {
  color: green;
}
.reject {
  color: rgb(252, 89, 8);
}