.cartIconButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: rgba(149, 1, 1, 1);
  font-family: FiraGO;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-transform: lowercase;
display: flex
;
    align-items: center;
    gap: 10px;

}
.cartIconButton img {
  height: 45px;
}

.cartIconsSpan {
  position: relative;
  top: -2px;
  right: -29px;
  border-radius: 50%;
  font-size: 16px;
  /* font-style: bold; */
  color: white;
  padding: 2px 4px;
  background-color: #950101;

  /* border: 1px solid yellow; */
}
