/* styles/home.scss */

.home-container {
  background-color: #f0f0f0;
  color: #333;
}

.hero-section {
  position: relative; /* Ensure it has a stacking context */
  height: 500px;
  background-image: url("../../assets/Images/mainImg.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Changed from 'end' to 'flex-end' */
  margin-bottom: 150px;
  z-index: 1; /* Lower z-index to ensure dropdown is above */
  overflow: visible; /* Ensure it does not clip child elements */
}

.mainWrapper {
  padding: 0;
  color: rgb(0, 0, 0);
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  justify-content: flex-end; /* Changed from 'end' to 'flex-end' */
  font-family: "DM Sans", sans-serif;
}

.mainOfferImages {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: space-between;
  margin-bottom: -150px;
}

.mainOfferImage {
  transition: transform 0.3s ease; /* ნელი გადასვლა */
}

.mainOfferImage:hover {
  transform: scale(0.98); /* ზომის შემცირება */
}

@media screen and (max-width: 768px) {
  .mainOfferImages {
    overflow-x: scroll;
    max-width: 80%;
  }
  
}





