/* styles/home.scss */

.home-container {
  background-color: #f0f0f0;
  color: #333;
}

.hero-section {
  position: relative;
  height: 500px;
  background-image: url("../../assets/Images/mainImg.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 150px;
}


.mainOfferImages {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: space-between;
  margin-bottom: -150px;
}

.mainOfferImage {
  transition: transform 0.3s ease; /* ნელი გადასვლა */
}

.mainOfferImage:hover {
  transform: scale(0.98); /* ზომის შემცირება */
}

@media screen and (max-width: 768px) {
  .mainOfferImages {
    overflow-x: scroll;
    max-width: 80%;
  }
  
}





